h2 {
  color: blue;
  background-color: yellow;
}

/* combinaciones.... para seleccionar hijos d elementos con id combinator*/
/* space es un  combinador que significa dentro de*/
#combinators li {
  color: green;
}

/* combinador hijo directo de main*/
main > p {
  color: brown;
}

/* hermanos posteriores*/
ul ~ ul

 /* hermanos posteriores directos */
 UL + UL


 /* PSEUDO-CLASES elementos con estados especiales*/

/*pasas el raton por encima de un elemento */
li:hover

/*selecciona los enlaces   no visitados*/
a:link

/*selecciona los enlaces visitados*/
a:visited

/*selecciona  enlaces cuando se hace click encima*/
a:active

/*selecciona exactamente el hijo (N) que  deseas seleccionar*/
/*  h2 de la sección hija N de  todas las secciones que son hijas de main*/
main section:nth-child(N) h2

/*  h2 de la sección hija N  la seccion que son hijas directas  de main*/
main > section:nth-child(N) h2
/* al ser tan especicicos  si cambias la web el orden cambia  */
/* cuando seleccionar  por numero de hijos= por  la posicion ( par/impar) de  hijos, es decir, alternar  colores  */
main > section:nth-child(even) h2 /* pares*/
main > section:nth-child(odd) h2  /*impares*/

/* cada cuantos elementos (xn+xY y  a partir de cual*/

:nth-child(3n+x) /* selecciona cada 3 elementos y empieza en  x*/
:nth-child(-n+x) /*selecciona  los x primeros*/
:nth-last-child() /*punto de partida del ultimo hijo*/
 
<lable for="terms"> acepta terminos y condiciones </lable>

/*agregar una imagen cuando el  checkbox esta chekeado*/
input:checked + img {
  visibility: visible;
}

/*PSEUDO-ELEMENTOS (::) seleccionan partes especificas de un elemento*/

/* primera letra de algo*/
::first-letter {
  font-size: 5rem;
}

/*primera frase de un txt*/
:first-child {
  font-size: 5rem;
}

/*seleccion  */
::selection 

/* before.... añade elemento  >< que creamos justo delante de un parrafo*/
::before ><
/* after.... añade elemento  >< que creamos justo detras de un parrafo*/
::after ><
/* before  y after no se pueden  seleccionar ni  mover, solo modificar  diseño*/









​

/* Selecciona todos los h2 */

h2 {
  color: blue;

  background-color: yellow;
}

​

/* Selecciona todos los elementos con la clase blue */

.blue {
  color: blue;
}

​

/* Selecciona el elemento con el id cool-li */

#cool-li {
  color: green;
}

​

/* Selecciona los elementos con el atributo title="Patata" */

[title="Patata"] {
  color: rebeccapurple;
}

​

/* Selecciona los elementos que tengan el atributo required */

[required] {
  border: 1px solid red;
}

​

/* Selecciona los elementos con el atributo type="email" */

[type="email"] {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 30%);
}

​

/* COMBINADORES */

​

/* Seleccionar hijos. En este caso seleccionaríamos los li hijos de el elemento con el id combinators */

#combinators #first-ul li {
  color: green;
}

​

/* Seleccionar hijos directos. En este caso seleccionaríamos los párrafos hijos directos del elemento con el id combinators */

#combinators > p {
  color: brown;
}

​

/* Seleccionar hermanos posteriores. Seleccionaríamos las listas hermanas posteriores de otras listas */

ul ~ ul {
  color: blue;
}

​

/* Seleccionaríamos los li hermanos posteriores de otros li dentro del elemento con el id second-ul */

#second-ul li ~ li {
  color: brown;
}

​

/* Seleccionar hermanos posteriores directos. Seleccionaríamos los párrafos que vayan JUSTO DESPUÉS de un h2 en la sección brothers */

#brothers h2 + p {
  color: brown;
}

​

/* Seleccionaríamos los párrafos que sean hermanos posteriores de un h2 en la sección brothers (aunque no vayan justo después del h2) */

#brothers h2 ~ p {
  font-size: 1.5rem;
}

​

/* PSUEDO CLASSES. Seleccionan elementos con un estado especial */

​

/* Selecciona los li que se encuentren en estado hover (cuando se pasa el ratón por encima) */

li:hover {
  font-size: 1.5rem;
}

​

/* Selecciona los enlaces sin visitar */

a:link {
  color: green;
}

​

/* Selecciona los enlaces visitados */

a:visited {
  color: grey;
}

​

/* Selecciona los enlaces cuando se les hace click */

a:active {
  background-color: red;
}

​

/* Selecciona los h2 hijos de una sección hija cuarta e hija directa del main */

main > section:nth-child(4) h2 {
  color: red;

  background-color: yellow;
}

​

/* Selecciona los li hijos terceros que sean hijos directos de la ul nth-child-list */

#nth-child-list > li:nth-child(3) {
  color: brown;
}

​

/* Selecciona los li hijos pares */

#nth-child-list > li:nth-child(even) {
  color: red;
}

​

/* Selecciona los li hijos impares */

#nth-child-list > li:nth-child(odd) {
  color: green;
}

​

/* Selecciona cada 3 li empezando por el segundo */

#range-childs > li:nth-child(3n + 2) {
  color: brown;
}

​

/* Selecciona los prim eros 4 li */

#range-childs > li:nth-child(-n + 4) {
  text-decoration: underline 3px black;
}

​ img {
  width: 100px;

  visibility: hidden;
}

​ input:checked + img {
  visibility: visible;
}

​

/* PSUEDO ELEMENTOS. Seleccionan una parte específica de un elemento */

​

/* Selecciona la primera letra de los párrafos que estén dentro de la sección con el id lorem-ipsum */

#lorem-ipsum p::first-letter {
  font-size: 5rem;
}

​ ::selection {
  background-color: lightcoral;
}

​ #lorem-ipsum h2::before {
  content: "🌐";
}

​ #lorem-ipsum h2::after {
  content: "🌐";
}
